.user-button {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #27c8a4;
    color: black;
    border: 1px solid black;
    margin-bottom: 5px;
}

.user-button img {
    height: 50px;
    width: auto;
    border-radius: 50%;
    margin-right: 10px;
}

.user-button_title {
    font-weight: bold;
    margin: 0;
}

.user-button_subtitle {
    font-size: 12px;
    margin: 0;
}