.addBtn{
    background-color: green;
    color: white;
    margin-top: 15px;
}

.addBtn:hover{
    background-color: white;
    color: green;
    border: 1px solid green;
}

.editBtn {
    background-color: orange;
    color: white;
    padding: 10px;
    margin-left: 5px;
}