.user-data {
  display: flex;
  align-items: center;
}

.user-image{
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.user-image img{
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
}

.user-details{
  font-size: 0.9rem;
  color: black;
  margin-left: 10px;
}

.deleteBtn{
  background-color: red;
  color: white;
  padding: 10px;
  width: 100px;
  margin-bottom: 10px;
}

.deleteBtn:hover{
  background-color: white;
  color: red;
  border: 1px solid red;
}
