.user-data {
  display: flex;
  align-items: center;
}

.user-image{
  display: flex;
  align-items: center;
}

.user-image img{
  height: 100px;
  width: auto;
  display: flex;
  justify-content: center;
}

.user-details{
  font-size: 0.9rem;
  color: black;
  margin-left: 10px;
}

.delete-user-btn{
  background-color: red;
  color: white;
  margin-bottom: 10px;
}

.delete-user-btn:hover{
  background-color: white;
  color: red;
  border: 1px solid red;
}
