.dado {
    width: 150px;
    height: 150px;
    background-color: #bbb;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: #333;
    margin: 6px;
}

.dado.good {
    background-color: green;
}

.dado.bad {
    background-color: red;
}